<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KetabGard</title>
    @Styles.Render("~/Content/css")
    <style>
        body {
            direction: rtl;
            font-family: 'iransans(fanum)';
        }

        .bgcustom {
            margin: 10px;
            background: rgba(249, 232, 217, .5);
            border-radius: 5px 30px 30px 5px;
        }

        .cursor {
            cursor: pointer
        }

        .full-height {
            height: 100vh;
        }
    </style>
    <link href="~/CSS/Loader.css" rel="stylesheet" />
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/Scripts/converter.js"></script>
    <script>
        let timeout;

        function search(id, str) {
            switch (id) {
                case 0:
                    fetch('/Home/booksearch', {
                        method: 'POST',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ bookname: str })
                    })
                        .then(response => response.text())
                        .then(data => {
                            $("#divsearchresult").html(data);
                        })
                        .catch(error => {
                            alert("Error")
                        })
                    break;
                case 1:
                    fetch('/Home/usersearch', {
                        method: 'POST',
                        cache: 'no-cache',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ nameorcdm: str })
                    })
                        .then(response => response.text())
                        .then(data => {
                            $("#divsearchresult").html(data);
                        })
                        .catch(error => {
                            alert("Error")
                        })
                    break;
            }
        }

        function loadnewpic(event, x) {
            const fileinput = event.target;
            if (fileinput.files.length > 0) {
                const file = fileinput.files[0];
                const formdata = new FormData();

                let customFileName = '';
                switch (x) {
                    case 1:
                        customFileName = `Admin_${Date.now()}.jpg`
                        formdata.append('file', file, customFileName);
                        break;
                    case 2:
                        customFileName = `Book_${Date.now()}.jpg`
                        formdata.append('file', file, customFileName);
                        formdata.append('file', file, customFileName);
                        break;
                    case 3:
                        customFileName = `User_${Date.now()}.jpg`
                        formdata.append('file', file, customFileName);
                        formdata.append('file', file, customFileName);
                        formdata.append('file', file, customFileName);
                        break;
                }


                fetch('/Home/UploadImage', {
                    method: 'POST',
                    body: formdata
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            switch (x) {
                                case 1:
                                    $("#addadminpic").attr("src", "/AdminPic/" + customFileName);
                                    break;
                                case 2:
                                    $("#addbookpic").attr("src", "/BookPic/" + customFileName);
                                    break;
                                case 3:
                                    $("#adduserpic").attr("src", "/UserPic/" + customFileName);
                                    break;
                            }
                        } else {
                            alert('File upload failed');
                        }
                    })
                    .catch(error => {
                        console.error('Error uploading file:', error);
                        alert('Error uploading file');
                    });
            }
        }
    </script>
    <script src="~/Scripts/Index.js"></script>
    <script src="~/Scripts/Loadingpage.js"></script>
    <script src="~/Scripts/Userpage.js"></script>
    <script src="~/Scripts/Bookpage.js"></script>
    <script src="~/Scripts/Amanatpage.js"></script>
    <script src="~/Scripts/Adminpage.js"></script>

    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="row">
        @RenderBody()
    </div>
</body>
</html>
